name: build-latest-p2pdma-kernel testing
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu:
    name: ubuntu
    runs-on: ubuntu-latest
    container: us.gcr.io/eid-packer/eid-packer-ubuntu1804-kernel:20200413
    steps:
    - name: check out code using action/checkout
      uses: actions/checkout@v1
    - name: build package
      run: CONFIG=./p2pdma-configs/config-x86_64-p2pdma-tiny ./build-latest-p2pdma-kernel
